<!DOCTYPE html>
<html>

<head>
  <title>User Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.2/css/bulma.min.css" integrity="sha512-7SzrJ+8x04UV/svJoDYRtFTejhRzX8WJG+yzvYs1sLDBpCJ8WMMojg+GZfJFZiPzOT9CJrmGbz98/2dYg0U+Jg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">User Profile</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-4">CPU Information</h2>
      <ul>
        {{#each cpuData}}
        <li>
          <strong>{{this.name}}</strong><br>
          <small>{{this.description}}</small><br>
          <span class="tag is-primary">{{this.brand}}</span><br>
          Our Price: ${{this.ourPrice}}<br>
          MSRP: ${{this.MSRP}}<br>
          Cores: {{this.cores}}<br>
          Threads: {{this.threads}}<br>
        </li>
        {{/each}}
      </ul>

      <h2 class="title is-4">Graphics Card Information</h2>
      <ul>
        {{#each gpuData}}
        <li>
          <strong>{{this.name}}</strong><br>
          <small>{{this.description}}</small><br>
          Our Price: ${{this.ourPrice}}<br>
          MSRP: ${{this.MSRP}}<br>
          Clock Speed: {{this.clockSpeed}}<br>
        </li>
        {{/each}}
      </ul>

      <h2 class="title is-4">Memory Information</h2>
      <ul>
        {{#each hardDriveData}}
        <li>
          <strong>{{this.name}}</strong><br>
          <small>{{this.description}}</small><br>
          Our Price: ${{this.ourPrice}}<br>
          MSRP: ${{this.MSRP}}<br>
          Storage Capacity: {{this.storageCapacity}}<br>
        </li>
        {{/each}}
      </ul>

      <h2 class="title is-4">User Information</h2>
     
        {{#each userData}}
        <p>
          Username: {{this.name}}<br>
          Email: {{this.email}}<br>
        </p>
        {{/each}}
     
    </div>
  </section>
</body>

</html>
